name: rc-testing

on:
  workflow_dispatch:

# Cancel duplicate builds
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Install and build
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install numpy scipy astropy ginga --pre
        python -m pip install -e .[test]
    - name: Test
      run: pytest
